body{
	background-color: #CEECF5;
	align-items: center;
}

h1{
	color:  #0e1b2a;
	font-size: 30px;
	text-align: center;
}

h2{
	color:  #0e1b2a;
	font-size: 20px;
}

#atras{
	color: #FF4646;
}

#enviar{
	color: #015D03;
}

#inicio{
	color: #D67208;
}

.footer{
	position: fixed;     
	text-align: center; 
	right: 0;
	bottom: 0;  
	width: 100%;
}